/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/laravel-excel/*
/storage/api-docs/*.json
/vendor
.htaccess
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject
/nbproject/private/
resources/lang/**/B2CTranslate.php